/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    height:100%;
}

/* 
 * Search input field
 */

.search_input_container {
    padding: 24px;
    text-align: center;
    font-size: 22px;
    font-family: verdana;
    color: #ffffff;
    background: #000000;
}

.search_input_container label{
    vertical-align: middle;
}


.searchInput[type=text]
{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    font-size: 22px;
    min-height: 45px;
    padding: 4px 20px 4px 8px;
    width: 400px;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    margin: 0 10px;
    vertical-align: middle;

}

.searchInput[type=text]:focus
{
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 20px rgba(123,255,35, 0.9);
    outline: none;
}

/* 
 * Result row
 */
.data-container {
    margin-bottom: 20px;
    padding-top:20px;
}

.result_button {

  -moz-box-shadow: 0px 10px 14px -7px #276873;
        -webkit-box-shadow: 0px 10px 14px -7px #276873;
        box-shadow: 0px 10px 14px -7px #276873;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #86cdf7));
        background:-moz-linear-gradient(top, #ffffff 5%, #86cdf7 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #86cdf7 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #86cdf7 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #86cdf7 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #86cdf7 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#86cdf7',GradientType=0);
        
        background-color:#ffffff;


          -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
    border:1px solid #595959;
    
    display:block;
    color:#000;
    font-size:16px;
    font-weight:bold;
    padding:4px 15px;
    margin: 0px auto;
    text-decoration:none;
    font-family:verdana;
    vertical-align: middle;
    max-width: 800px;
    cursor: pointer;
    position: relative;
}

.result_button:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #999999 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #999999 5%, #ededed 100%);
    background:-o-linear-gradient(top, #999999 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #999999 5%, #ededed 100%);
    background:linear-gradient(to bottom, #999999 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#ededed',GradientType=0);
    
    background-color:#999999;
}

.results.active {
}

.arrow{
    display:none;
}

.active .arrow{
    display:block;
    left: -48px;
    position: absolute;
    top: 5px;
}

.results {
    margin: 10px 0;
    padding: 0 00px;
}

.results .name {
    font-weight: bold;
    width:230px;
    font-size: 14px;
    margin-right: 15px;
    font-family: arial;
}

.results .path {
    font-family: calibri;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    padding-top: 5px;
    text-shadow: none;
    vertical-align: middle;
}

.button_wrapper {
    margin: 0 auto;
}

.options {
    position: absolute;
    right: -19px;
    top: 7px;
    display: none;
    width: 110px;
    height: 50px;
}

.button_container {
    margin: 0 auto;
    position: relative;
    width: 800px;
    padding: 0 100px 0 0;
}

.options img {
    width: 32px;
}

.options a {
    opacity: 0.9;
}

.options a:hover {
    opacity: 1;
}

.active .options {
    display: block;
}


/* 
 * "Go to branch" button
 */

.go_btn {
    
     -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
        -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
        box-shadow:inset 0px -3px 7px 0px #29bbff;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
        background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
        background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
        background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
        background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
        background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
        
        background-color:#2dabf9;
    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
    border:1px solid #124d77;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    height: 37px;
    line-height:37px;    
    text-shadow:0px 1px 0px #154682;
    vertical-align: middle;
    cursor: pointer;
}

.go_btn:hover {
    
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
        background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
        
        background-color:#0688fa;
}

.go_btn:active {
    position:relative;
    top:1px;
}

/**
 * Info box
 */

.info {
    height:50px;
    width: 800px;
    margin: 30px auto 0;
    color: #ccc;
    text-align: center;
    font-size:12px;
    font-family: arial;

}

.author {
    font-size:10px;
}